.App {
  height: 100vh;
  background:url("https://img.freepik.com/free-photo/two-monastera-leaves-black-background_23-2147835077.jpg?semt=ais_hybrid&w=740&q=80");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}